{% extends 'base.html.twig' %}

{% block title %}
    {{project.title}}
{% endblock %}

{% block body %}
    <main class="project-details-content background-color">
        <!--  BREADCRUMB AREA -->
        <section class="banner-area breadcrumArea mb-0" >
            <div class="container custom-container">
                <div style="background-image: url(assets/img/mask/breadcrumbmask.png);" class="breadcrum-banner">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 order-2 order-lg-1">
                            <div class="bannerArea__wrapper">
                                <div class="bannerArea__title">
                                    <h4 class="main-title">
                                        Détails du projet
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 navbar-banner">
                            <div class="banner-image">
                                <img src="{{asset('assets/img/banner/breadcrumb-banner.png')}}" alt="banner-image" class="img-fluid"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="breadcrumb-wrapper">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            Projects
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="breadcrumbmask">
                        <img class="mask1" src="assets/img/mask/layerShape-02.png" alt="mask" />
                    </div>
                </div>
            </div>
        </section>
        <!--  OUR PROJECT DETAIL AREA -->
        <section class="project-detail">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 project-description">
                        <center class="project-image-section">
                            <img class="img-fluid project-image" src="{{asset('assets/img/project/' ~ project.coverimage)}}" alt="image"/>
                        </center>
                        <div class="project-overview-wrapper project-details">
                            <div class="overview-detail">
                                <div class="detail-tittle">
                                    <p>Client</p>
                                    <h6>{{project.client}}</h6>
                                </div>
                                <div class="detail-tittle">
                                    <p>Durée de réalisation</p>
                                    {% if project.duration is not empty %}
                                    <h6>
                                        {{project.duration}}
                                    </h6>
                                    {% else %}
                                    <h6>
                                        Projet en cours
                                    </h6>
                                    {% endif %}
                                </div>
                                {% if project.url is not empty %}
                                    <div class="detail-tittle">
                                        <p>Lien vers le site</p>
                                        <h6>{{project.url}}</h6>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="project-detail-content mb-40 project-content">
                            <h2>
                                {{project.title}}
                            </h2>
                            <div class="project-presentation">
                                {{project.description | raw}}
                            </div>
                            {% if project.videolink is not empty %}
                            <p>
                                <button class="btn btn-danger">
                                    Démonstration youtube
                                </button>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
        
