{% extends 'base.html.twig' %}

{% block title %}Admin area{% endblock %}

{% block body %}

<main class="background-color">
<section class="project">
    <div class="container project__container main-content">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}

        <a href="{{path('add-project')}}" class="add-project-button">
        <button class="btn btn-primary text-center">
            Ajouter un projet
         </button>
        </a>
        <div class="row">
            
            {% for project in projects %}
                <div class="col-md-6 col-sm-12">
                    <div class="project-wrapper">
                        <div class="project-wrapper-image">
                            <img src="{{asset('assets/img/project/' ~ project.coverimage) | imagine_filter('coverimage')}}" alt="image"/>
                        </div>
                        <div class="project-wrapper-title">
                            <h3 class="project-title">
                                {{project.title}}
                            </h3>
                            {% if project.duration is not empty %}
                            <span>
                                Durée du projet: {{project.duration}}
                            </span>
                            {% else %}
                            <span>
                                Projet en cours.
                            </span>
                            {% endif %}
                            <p class="short-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ulla.
                            </p>
                        </div>
                        <div class="project-wrapper-button">
                            <a href="{{path('project', {'slug' : project.slug})}}">
                                <button class="btn btn-danger">Voir</button>
                            </a>
                            <button class="btn btn-danger">Modifier</button>
                            <button class="btn btn-danger">Supprimer</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            <div class="col-sm-12">
                <div class="load-more-button">
                    <a class="primary__button primary__button-bgPrimary" href="#">
                        Load More Projects
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}
