{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main class="background-color main-section">
    <!--  BREADCRUMB AREA -->
    <section class="banner-area breadcrumArea mb-0" >
        <div class="container custom-container">
            <div style="background-image: url(assets/img/mask/breadcrumbmask.png);" class="breadcrum-banner">
              <div class="row d-flex align-items-center">
                  <div class="col-lg-6 order-2 order-lg-1">
                      <div class="bannerArea__wrapper">
                          <div class="bannerArea__title">
                              <h2>Soumettez nous votre projet</h2>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 order-1 order-lg-2 navbar-banner">
                    <div class="banner-image">
                        <img src="{{asset('assets/img/mask/workagence.jpg') | imagine_filter('bannerimage')}}" alt="banner-image" class="img-fluid"/>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="breadcrumb-wrapper">
                          <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item">
                                      <a href="index.html">Home</a>
                                  </li>
                                  <li class="breadcrumb-item active" aria-current="page">
                                     Contact
                                  </li>
                              </ol>
                          </nav>
                      </div>
                  </div>
              </div>
              <div class="breadcrumbmask">
                  <img class="mask1" src="assets/img/mask/layerShape-02.png" alt="mask" />
              </div>
            </div>
        </div>
    </section>
    <!--  MAP AREA -->
    <div class="map-area">
        <div class="container">
            <div class="map">
                <div id="map"></div>
            </div>
        </div>
    </div>

    <!--  CONTACT FORM AREA-->
    <section class="conatact-area">
        <div class="container conatact-area__container">
            <div class="section-title text-center">
                <h2>Get In Touch</h2>
            </div>
            {% for message in app.flashes('success-message') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-form">
                        {{form_start(form)}}
                            <div class="form-row conatact-area__formRow">
                                <div class="col-12 col-md-6 col-lg-6">
                                    {{form_row(form.name)}}
                                    <i class="icon fas fa-user"></i>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    {{form_row(form.email)}}
                                    <i class="icon fas fa-envelope"></i>
                                </div>
                            </div>
                            <div class="form-row conatact-area__formRow">
                                <div class="col-12 col-md-6 col-lg-6">
                                    {{form_row(form.tel)}}
                                    <i class="icon fas fa-phone-alt"></i>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    {{form_row(form.society)}}
                                    <i class="icon fas fa-briefcase"></i>
                                </div>
                            </div>
                            <div class="form-message conatact-area__formRow">
                                {{form_row(form.message)}}
                                <div class="icon">
                                    <i class="fas fa-pen"></i>
                                </div>
                            </div>
                            <button type="submit" class="primary__button primary__button-bgPrimary shadow">
                                Send Message
                            </button>
                        {{form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
